<div class="container" *ngFor="let category of categories">
    <h1 >{{ category }}</h1>
    <ul class="container d-flex gap-3 flex-wrap">
        <li *ngFor="let product of menu[category]" class="card">
            <img [src]="product.image" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">Price: {{ product.price }}</p>
            </div>
            <div class="card-footer">
              <div class="input-group">
                <button class="btn btn-primary btn-outline-secondary" type="button" (click)="removeProduct(product.id)">-</button>
                <input type="number" class="form-control" placeholder="" [value]="getProductQuantityById(product.id)" (change)="setProductQuantityById(product.id, $event)" aria-label="Example text with two button addons">
                <button class="btn btn-primary btn-outline-secondary" type="button" (click)="addProduct(product.id)">+</button>
              </div>
            </div>
        </li>
    </ul>
</div>
<button id="openTotalButton" type="button" class="btn btn-primary btn-lg  sticky-bottom float-end" (click)="openScrollableContent(longContent)">Create Order</button>

<ng-template #longContent let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Verify order</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form action="customerName">
      <label for="customerName"></label>
      <input type="text" name="customerName" [value]="newOrder.client" (change)="setOrderClient($event)" placeholder="Customer name">
    </form>
    <div id="container-list-order">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Qty</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let productOrder of newOrder.products; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              {{ productOrder.product.name }}
            </td>
            <td>{{ productOrder.qty| number }}</td>
            <td>{{ productOrder.product.price| number }}</td>
          </tr>
          <tr >
            <td></td>
            <td></td>
            <td>Total</td>
            <td >{{totalPrice()}}</td>
          </tr>
        </tbody>
      </table>
    </div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary"(click)="addNewOrder()">To cook</button>
	</div>
</ng-template>