<div class="container" *ngFor="let category of categories">
    <h1 >{{ category }}</h1>
    <ul class="container d-flex gap-3 flex-wrap">
        <li *ngFor="let product of menu[category]" class="card">
            <img [src]="product.image" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">Price: {{ product.price }}</p>
                <div class="input-group">
                  <button class="btn btn-primary btn-outline-secondary" type="button" (click)="removeProduct(product.id)">-</button>
                  <input type="text" class="form-control" placeholder="" [value]="getProductQuantityById(product.id)" aria-label="Example text with two button addons">
                  <button class="btn btn-primary btn-outline-secondary" type="button" (click)="addProduct(product.id)">+</button>
                </div>
            </div>
        </li>
    </ul>
</div>
<button id="openTotalButton" type="button" class="btn btn-primary btn-lg  sticky-bottom float-end" (click)="openScrollableContent(longContent)">Create Order</button>

<ng-template #longContent let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Verify order</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form action="customerName">
      <label for="customerName"></label>
      <input type="text" name="customerName" id="getcustomerName" placeholder="Customer name">
    </form>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light">To cook</button>
	</div>
</ng-template>