<section id="containerMaster" class="container-fluid">
  <section class="formSection container" >
    <figure>
      <img src="../../../assets/img/image-removebg-preview.png" alt="icon login">
    </figure>
    <form [formGroup]="loginForm" (ngSubmit)="credentialValidatorForm()">
      <div class="form-group-email">
        <label for="email" class="form-label"></label>
        <input type="email" id="email" placeholder="email" class="form-control" formControlName="email">
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          *Please enter the valid email.
        </div>
      </div>
  
      <div class="form-group-password">
        <label for="password"></label>
        <input type="password" id="password" placeholder="password" class="form-control" required minlength="4" formControlName="password">
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          *Please enter the valid password.
        </div>
      </div>
  
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  
      <button type="submit"  class="btn btn-login">LOGIN</button>
    </form>
  </section>
</section>